.article-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    /* margin: 20px; */
}

.article-details-container{
    display: flex;
    flex-direction: column;
}

.loading{
    width: 400px;
    align-self: center;
    margin-top: 10em;
}
.detail-image{
    width: 24rem;
    margin-top: 10px;
}
.detail-image:hover {
    width: 700px;
    cursor: zoom-in;
 }

.details-container{
    width: 25rem;
    width: 24rem;
}

@media only screen 
and (min-device-width : 52px) 
and (max-device-width : 412px) {
    .article-container{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .image-container{
        display: flex;
        align-items: baseline;
        padding: 0;
        margin: 0;
    }

    .detail-image{
        width: 24rem;
        margin-top: 10px;
    }

    .details-container{
        width: 25rem;
        width: 94vw;
    }

    .detail-image:hover {
        width: 24rem;
     }
}