.articles-container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-bottom: 100px;
}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .articles-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        list-style: none;
    }
}