.article-container{
    display: flex;
    justify-content: space-around;
}

.article-details-container{
    display: flex;
    flex-direction: column;
}

.loading{
    width: 400px;
    align-self: center;
    margin-top: 10em;
}

@media only screen 
and (min-device-width : 52px) 
and (max-device-width : 14000px) {
    .article-container{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin: 20px;
    }
    .image-container{
        display: flex;
        align-items: baseline;
        padding: 0;
        margin: 0;
    }

    .detail-image{
        width: 25rem;
        margin-top: 10px;
    }

    .details-container{
        width: 25rem;
    }

}