.home-icon {
    width: 30px;
    margin: 10px;
    padding: 10px;
    margin-top: 20rem ;
}
/* .page-logo{
    width: 100px;
    position: fixed;
} */

.nav-container{
    background-color:aquamarine;
    position:fixed;
    height: 100%;
    width: 8rem;
    display: flex;
    justify-content: center;
    left: 0
}

@media only screen 
and (min-device-width : 52px) 
and (max-device-width : 414px) {
    .home-icon {
        width: 30px;
        margin: 10px;
        padding: 10px;
    }
    .nav-container{
        background-color:aquamarine;
        position:fixed;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
    }
}